<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentPerson"
          class="com.nt.factory.PersonFactory"
          factory-method="getPerson">
        <constructor-arg value="student"/>
        <constructor-arg value="Yogesh"/>
        <constructor-arg value="Pune"/>
        <constructor-arg value="9876543210"/>
    </bean>

    <bean id="customerPerson"
          class="com.nt.factory.PersonFactory"
          factory-method="getPerson">
        <constructor-arg value="customer"/>
        <constructor-arg value="Nikhil"/>
        <constructor-arg value="Mumbai"/>
        <constructor-arg value="1234567890"/>
    </bean>

</beans>
